---
import type { PropsOf } from "../../utils/types";
import SocialMediaList from "../social_media/SocialMediaList.astro";
import { PersonImage } from "./PersonImage";
import { t } from "i18next";

type Props = {
  name: string;
  role: string;
  img?: string;
  skill?: string;
  andmore?: boolean;
};

const { name, img, role, skill, andmore } = Astro.props;
---

<div class="space-y-6">
  <PersonImage img={img} />
  <div class="text-center text-md font-light">
    <h3 class="text-lg font-medium mb-1">{name}</h3>
    <div>
      <p class="inline-block">
        {role}
      </p>
      <p class="inline-block">
        {andmore && t("team.more")}
      </p>
    </div>
    <p>
      {skill}
    </p>
  </div>
</div>
