---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { PersonImage } from "./PersonImage";
import type { Language } from "~/i18n";

interface Props {
  name: string;
  lastRole: Record<Language, string>;
  img?: string;
  skill?: string;
  hasMultipleRoles?: boolean;
}

const { name, img, lastRole, skill, hasMultipleRoles = false } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="space-y-6">
  <PersonImage img={img} />
  <div class="text-md text-center font-light">
    <h3 class="mb-1 text-lg font-medium">{name}</h3>
    <div>
      <p class="inline-block">
        {t(lastRole)}
      </p>
      <p class="inline-block">
        {hasMultipleRoles && t({ de: "und mehr", en: "and more" })}
      </p>
    </div>
    <p>
      {skill || <br />}
    </p>
  </div>
</div>
