---
import { Icon } from "astro-icon/components";

interface Link {
  name: string;
  href: string;
  icon: string;
}

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<ul role="list" class="flex justify-center space-x-5">
  {
    links.map(({ name, href, icon }) => (
      <li>
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">{name}</span>
          <Icon name={icon} class="h-5 w-5" aria-hidden="true" />
        </a>
      </li>
    ))
  }
</ul>
