---
import { load_team } from "../../utils/async_helper";
import Person from "./Person.astro";

const team = await load_team();
---

<div class="bg-white py-16">
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-16 mx-8 md:mx-24 mx-32"
  >
    {
      team
        .sort((first, second) => first["name"].localeCompare(second["name"]))
        .map((member) => (
          <Person
            name={member["name"]}
            img={member["img"]}
            lastRole={member["lastRole"]}
            skill={member["skill"]}
            hasMultipleRoles={member["hasMultipleRoles"]}
          />
        ))
    }
  </div>
</div>
