---
interface Props {
  title: string;
  subtitle?: string | null;
  action?: {
    label: string;
    url: string;
  };
}

const { title, subtitle, action } = Astro.props;
---

<div
  class="overflow-hidden rounded-3xl bg-wsi-blue-300 px-6 py-10 text-center shadow-2xl sm:px-16 sm:py-20"
>
  <h2
    class="mx-auto max-w-2xl text-2xl font-bold tracking-tight text-white sm:text-3xl md:text-4xl"
  >
    {title}
  </h2>
  {
    subtitle && (
      <p class="mx-auto mt-6 max-w-4xl text-lg leading-8 text-gray-300">
        {subtitle}
      </p>
    )
  }
  {
    action && (
      <div class="mt-16">
        <a
          href={action.url}
          class="rounded-md bg-white px-12 py-3 text-base font-semibold leading-7 text-wsi-blue-300 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white sm:text-lg"
        >
          {action.label}
        </a>
      </div>
    )
  }
</div>
