---
import { Icon } from "astro-icon";
import { classNames } from "../utils/classNames";

type Props = {
  name: string;
  text: string;
  href: string;
};

const { name, text, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class={classNames(
    "group flex justify-between text-left overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 shadow outline outline-0",
    "transition hover:shadow-md hover:outline-1 hover:outline-gray-200"
  )}
>
  <div>
    <dt class="truncate text-sm font-medium text-gray-400">
      {name}
    </dt>
    <dd
      class={classNames(
        "mt-1 text-2xl font-semibold tracking-tight text-gray-900",
        "transition group-hover:text-wsg-orange-500"
      )}
    >
      {text}
    </dd>
  </div>
  <Icon
    name="ri:external-link-fill"
    class="w-5 h-5 text-black transition group-hover:drop-shadow"
  />
</a>
