---
import i18next, { t } from "i18next";
import { Trans } from "astro-i18next/components";

export interface Props {
  url: string;
}

const { url } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta http-equiv="refresh" content={`0; url=${url}`} />
  </head>
  <body>
    <p>
      <Trans i18nKey="redirect.hint">
        If you are not automatically redirected, please click on <a href={url}
          >this link</a
        >.
      </Trans>
    </p>
  </body>
</html>
