---
import { t } from "i18next";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { getStaticLangPaths, updateLang } from "../../routing/lang";

export const getStaticPaths = getStaticLangPaths;
updateLang(Astro.url.pathname);
---

<Layout title={t("home.title")}>
  <main>
    <h2>{t("home.welcome")}</h2>
    <p class="instructions">{t("warnings.maintenance")}</p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://www.worldskillsgermany.com/de/"
        title={t("home.wsgCard.title")}
        body={t("home.wsgCard.body")}
      />
      <Card
        href="https://youtube.de/@GermanITSkills"
        title={t("home.ytCard.title")}
        body={t("home.ytCard.body")}
      />
      <Card
        href="https://instagram.com/german.it.skills"
        title={t("home.igCard.title")}
        body={t("home.igCard.body")}
      />
      <Card
        href="https://facebook.com/GermanITSkills"
        title={t("home.fbCard.title")}
        body={t("home.fbCard.body")}
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h2 {
    text-align: center;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
