---
import { localeParams, useTranslations } from "~/i18n";
import Layout from "~/layouts/Layout.astro";

export const getStaticPaths = localeParams;

const { lang } = Astro.params;
const t = useTranslations(lang as any);
---

<Layout title={t({ de: "Startseite", en: "Home" })}>
  <p>Hello World</p>
</Layout>
