---
import { t } from "i18next";
import Hero from "../../components/home/Hero.astro";
import Link from "../../components/Link.astro";
import Layout from "../../layouts/Layout.astro";
import HeadedSection from "../../layouts/sections/HeadedSection.astro";
import WavedSection from "../../layouts/sections/WavedSection.astro";
import { buildLink } from "../../routing/buildLink";
import { getStaticLangPaths, updateLang } from "../../routing/lang";

export const getStaticPaths = getStaticLangPaths;
updateLang(Astro.url.pathname);
---

<Layout title={t("home.title")}>
  <Hero />
  <HeadedSection
    title="Allgemeine Informationen"
    subtitle="Wer sind wir uns was ist unser Ziel?"
  >
    <p class="text-gray-800 sm:text-xl">
      Die WorldSkills Germany - Bundesleistungszentren haben die Aufgabe,
      zusätzlich zu den Trainings nach WorldSkills-Prinzipien für eine möglichst
      breite Teilnehmerschaft auch die zukünftigen Mitglieder der deutschen
      Nationalmannschaft und somit Teilnehmer an internationalen Wettbewerben zu
      trainieren. Sie werden pro Skill-Disziplin exklusiv nur einmal ernannt.
      Die Ernennung erfolgt durch die Skills-Paten (Verbände, Unternehmen,
      Institutionen) gemeinsam mit WorldSkills Germany.
    </p>
  </HeadedSection>
  <WavedSection type={"top"} title="Unsere Skills">
    <p class="sm:text-xl">
      Die Bundesleistungszentren der Softwareentwicklung haben ihren Standort am
      <Link href="https://aeg-nb.de" openInNewTab
        >Albert-Einstein-Gymnasium Neubrandenburg</Link
      >. An diesem Standort sind <Link href={buildLink("skill08")}
        >Skill 08: Mobile Applications Development</Link
      > und
      <Link href={buildLink("skill09")}
        >Skill 09: IT Software Solutions for Business</Link
      > vertreten. Mehr Informationen zu den einzelnen Skills sind auf den jeweiligen
      Unterseiten.
    </p>
  </WavedSection>
  <WavedSection type={"bottom"} title="Werde Teil unseres Nationalteams">
    <p>Here Apply CTA</p>
  </WavedSection>
</Layout>
