---
interface Props {
  type: "top" | "bottom";
  color: string;
  bgColor: string;
}
const { type, color, bgColor } = Astro.props;
---

<div class="divider">
  {
    type === "top" ? (
      <svg
        fill={color}
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 169 1440 150"
      >
        <path d="M0,224L80,240C160,256,320,288,480,282.7C640,277,800,235,960,234.7C1120,235,1280,277,1360,298.7L1440,320L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z" />
      </svg>
    ) : (
      <>
        <svg
          fill={color}
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 240"
        >
          <path
            d="M56.7,-52.8C72.7,-40.6,84.5,-20.3,79.9,-4.5C75.4,11.3,54.6,22.5,38.5,29.8C22.5,37.1,11.3,40.4,-3.6,44C-18.5,47.7,-37,51.6,-50.3,44.3C-63.5,37,-71.4,18.5,-65.5,5.9C-59.6,-6.7,-39.9,-13.4,-26.7,-25.7C-13.4,-37.9,-6.7,-55.6,6.8,-62.4C20.3,-69.2,40.6,-65.1,56.7,-52.8Z"
            transform="translate(1300 200) scale(0.5) rotate(340)"
          />
          <path
            d="M33.8,-23.7C49,-18.7,69.9,-9.3,73.2,3.3C76.5,15.9,62.1,31.8,46.9,37C31.8,42.3,15.9,36.9,4.7,32.1C-6.5,27.4,-12.9,23.4,-19.2,18.2C-25.6,12.9,-31.8,6.5,-35.4,-3.6C-39,-13.7,-40,-27.3,-33.7,-32.4C-27.3,-37.4,-13.7,-33.7,-2.2,-31.6C9.3,-29.4,18.7,-28.7,33.8,-23.7Z"
            transform="translate(1150 140) scale(0.4) rotate(323)"
          />
          <path
            d="M40.9,-37.3C55.1,-26.8,70,-13.4,68.3,-1.7C66.7,10.1,48.4,20.1,34.3,30.4C20.1,40.7,10.1,51.2,-6.1,57.3C-22.3,63.4,-44.7,65.2,-51.2,55C-57.7,44.7,-48.3,22.3,-44.5,3.8C-40.7,-14.7,-42.5,-29.5,-36,-40C-29.5,-50.6,-14.7,-56.9,-0.7,-56.2C13.4,-55.5,26.8,-47.9,40.9,-37.3Z"
            transform="translate(242 144) scale(0.67) rotate(85)"
          />
          <path d="M0,32L40,37.3C80,43,160,53,240,58.7C320,64,400,64,480,53.3C560,43,640,21,720,48C800,75,880,149,960,154.7C1040,160,1120,96,1200,80C1280,64,1360,96,1400,112L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z" />
        </svg>
      </>
    )
  }
</div>

<style define:vars={{ bgColor }}>
  .divider {
    background-color: var(--bgColor);
  }
</style>
