---
import Link from "~/components/Link.astro";
import { getLangFromUrl, useTranslations } from "~/i18n";
import Layout from "./Layout.astro";

interface Props {
  title?: string;
  url: string;
}

const { title, url } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={title}>
  <meta slot="head" http-equiv="refresh" content={`0; url=${url}`} />
  <div class="mx-4 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
    <p>
      {
        t({
          de: "Falls du nicht automatisch weitergeleitet wirst, klicke bitte auf diesen Link:",
          en: "If you are not automatically redirected, please click on this link:",
        })
      }
      <Link href={url}>{url}</Link>
    </p>
  </div>
</Layout>
